/* font style link  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');

/* -------------
common style 
----------- */
body {
    margin: 0px;
}

/*-------------------------------------
 -------------G3 Architects navbar section style-------- 
 ---------------------------------------------------- */
.container {
    background-color: rgba(255, 144, 14, 0.1);
    width: 100%;
    height: 100%;
}
.bg-position{
    padding:0px 100px 100px 100px;
}

.top-navbar-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 0 100px;

}

.top-section-title {
    font-size: 45px;
    color: #131313;
}

.navbar ul {
    display: flex;
    gap: 45px;
    list-style: none;

}

li a {
    text-decoration: none;
    color: #424242;
}

/*-----------------------------------------------------
----------------------- header info section style ------
-------------------------------------------------------- */
.header-info {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-info-title {
    font-size: 64px;
    margin-bottom: 32px;
}

.header-info-description {
    font-size: 16px;
    margin-bottom: 32px;
}

.btn-primary {
    background: #FF900E;
    border-radius: 8px;
    font-size: 20px;
    padding: 10px;
    border: none;
    color: white;
    margin-bottom: 50px;
}

.header-info-img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

/*-----------------------------------------------
 -------------Quick list of Our Features section style-------
 --------------------------------------------------------------*/
.quick-list-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 73px;
    margin-top: 85px;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.quick-list-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    width: 100%;
}

/* .quick-list-info {

} */

.quick-list-title {
    font-size: 45px;
    margin-bottom: 24px;
}

.quick-list-description {
    font-size: 16px;
    color: #727272;
    margin-bottom: 32px;
}

#color-grea {
    color: #727272;
}

#color-black {
    color: #131313;
}

#color-orange {
    color: #FF900E;
}

/* ------------------------------------------
----------Features you will love & enjoy section style------
------------------------------------------------------------- */
.futures-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 45px;
    margin-top: 130px;
}

.futures-container {
    padding: 10px;
}

.futures {
    margin-left: 15px;
    margin-bottom: 30px;
}

.futures-title {
    font-size: 45px;
    color: #131313;
    width: 468px;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.futures-description {
    font-size: 16px;
    color: #727272;
}

.future {
    width: 586px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 35px;
    margin-left: 30px;
}

.future-title {
    font-size: 20px;
    color: #131313;
}

.future-description {
    font-size: 16px;
    color: #727272;
}
.btn-position{
    position: absolute;
}
.position{
    position: absolute;
    left: 660px;
    top :850px;
}
.btn-title{
    font-size: 50px;
}
.btn-description{
    font-size: 16px;
}
/*-----------------------------------
--------------------- Some Facts section style ---------
--------------------------------------------------------- */
.some-fact{
    margin-top: 130px;
    margin-left: 30px;
    margin-bottom: 110px;
}
.some-fact-title{
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}
.some-fact-description{
    font-size: 16px;
    color: #727272;
}
/* -------------------------------------------------------------
------------------------blogs section style ------------------
--------------------------------------------------------------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 110px;
    margin-left: 50px;
    margin-right: 50px;
}
.blog{
    border: 1px solid #FF900E;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;

}
.blog-title{
    font-size: 45px;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 5px;

}
.blog-description{
    font-size: 20px;
    color: #727272;
}
.blog:hover{
    background-color: #FF900E;
    transform: skewX(20deg);
    transition : transform ease-in 1.5s;
    box-shadow: 5px 4px 30px #0000000f;
}
/*--------------------------------------
--------- Our Sponsors section style----------
----------------------------------------------  */
.our-sponsors{
 align-items: center;
 justify-content: center;
 text-align: center;
 margin-top: 120px;
}
.our-sponsor-title{
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}
.our-sponsor-description{
    font-size: 16px;
    color: #727272;
}
.our-sponsors-img{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    grid-gap: 130px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}
/* -------------------------------------
-------------------Extra section style  ----------
----------------------------------------------------------------*/
.extra-section{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 120px;
}
.extra-bg{
    background-image: linear-gradient(90deg, #8c259a 0%, rgba(0, 95, 172, 0) 100%), url(../images/extra.png);
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
}
.extra-title{
    font-size: 40px;
    color: #FFFFFF;
    padding: 100px 600px 100px 100px;
}